* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
}

.header {
    position: relative;
    text-align: center;
}

.header img {
    width: 100%;
    border-radius: 10px;
}

.restaurant-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(226, 75, 75, 0.7);
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 20px;
    border-radius: 10px;
}

.content {
    text-align: center;
    margin: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.item {
    text-align: center;
}

.item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.botones {
    background-color: #ff3c00;
    color: white;
    padding: 10px;
    border-radius: 5rex;
    text-align: center;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.botones:hover {
    background-color: #f16f44;
}

.section {
    margin: 50px 0;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

.menu-title {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 5px #ff3c00;
    font-family: 'Georgia', serif;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    position: relative;
    background-color: #333;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}


.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
}

.card:hover {
    background-color: #686767;
}

.discount-label {
    background-color: #ff3c00;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.footer p {
    margin-bottom: 5px;
}

.footer a {
    color: #ff3c00;
    text-decoration: none;
}




/* Estilos para Swiper */
.swiper-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}


.swiper-container {
    max-height: 400px;
}

/* Estilos para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    font-size: 24px;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

/* Estilos para la paginación */
.swiper-pagination {
    bottom: 10px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #ff4081;
}






/*
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.discount-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button:first-of-type {
    left: 10px;
}

.carousel-button:last-of-type {
    right: 10px;
}*/